<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/style" rel="stylesheet" type="text/css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <title>Led Web Controller</title>

</head>

<body>
    <div class="container vertical-center">
        <div class="card dashboard">
            <div class="card-header">
                Led Dashboard
            </div>
            <div class="card-body">
                <a href="/on" class="btn btn-primary on">Turn On</a>

                <a href="/off" class="btn btn-primary off">Turn Off</a>

            </div>
        </div>
    </div>
</body>

</html>